<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1>HELLO WORLD !!!</h1>
<form action="/index/" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="username">
    密码：<input type="text" name="password">
    <input type="submit" value="登录">
    <table>
        <tr>
            <td>用户名</td>
            <td>密码</td>
        </tr>
     {% for item in data %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.password }}</td>
        </tr>
    {% endfor %}
    </table>
</form>

</body>
</html>